name: "[CD] Continuous Delivery"

# on:
#   push:
#     branches: [main]

on:
  pull_request:
    types: [opened, synchronize]

env:
  VERCEL_ORG_ID: qIt1k5zdeW0jMwlspiVU6u30
  VERCEL_PROJEC_ID: prj_OM1RTu3p6KNtWhnxMzdKzNpRChmI

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      ## [Common_CI_Steps] ##
      - uses: actions/checkout@v3
      ## =======================
      - name: "Debug"
        run: |
          ls -la
          echo "Hello World"
      - name: "Install Dependencies"
        run: "npm install"
      - name: "Deploy"
        run: "npx vercel --prod --token ${{ secrets.VERCEL_TOKEN }}"
